<h1>TvSeries4u</h1>
<p>
  <%= @user.name %> Te ha recomendado la serie <%= @series.name %> para que
  la veas en nuestra pagina!
</p>
<p>
  Para aquello sigue el siguiente link: <%= @url %>.
  si quieres ver la pagina, unete en <%= @root_url %>.
</p>
