<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.noticiums.any? %>
        <h3>noticiums (<%= @user.noticiums.count %>)</h3>
        <ol class="noticiums">
          <%= render @noticiums %>
        </ol>
        <%= will_paginate @noticiums %>
    <% end %>
  </div>
</div>