<% provide(:title, current_user.name) %>
<% provide(:header, current_user.name) %>
<div class="row">
  <div class=" col-md-9 col-lg-9 ">
    <table class="table table-user-information">
      <tbody>
        <tr>
          <td>Nombre de usuario:</td>
          <td><%= current_user.username %></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><%= current_user.email%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <%= link_to 'Editar perfil', edit_user_registration_path %>
</div>
