
<% provide(:title, 'Noticias') %>
<% provide(:header,'Noticias') %>

<%= link_to 'Escribir noticia', new_news_path, class: 'pull-right' %><br>
<% @news.each do |noticia|%>
  <ul class="list-group">
    <li class="list-group-item"><strong>Titulo:</strong> <%= link_to noticia.title, news_path(noticia.id)%></li>
    <li class="list-group-item"><strong>Creado por:</strong> <%= noticia.user.name %></li>
    <li class="list-group-item"><strong>Fecha:</strong> <%= noticia.created_at %></li>
  </ul>
<% end %>
