<% provide(:header,'Noticias') %>
<% provide(:title, 'Noticias') %>

<% if current_user && can?(:manage, News)%>
  <%= link_to 'Escribir noticia', new_news_path, class: 'pull-right btn btn-primary' %>
<% end %>
<br>
<br>
<% @news.each do |noticia|%>
  <ul class="list-group">
    <li class="list-group-item" style="text-align: center;"><h3><strong> <%= link_to noticia.title, news_path(noticia.id)%></strong></h3></li>
    <li class="list-group-item" style="text-align: center;"><strong>Creado por:</strong> <%= noticia.user.name %></li>
    <li class="list-group-item" style="text-align: center;"><strong>Fecha:</strong> <%= noticia.created_at %></li>
  </ul>
<% end %>
