<% provide(:title, 'Acerca de nosotros') %>
<% provide(:header, 'Acerca de nosotros') %>

<div class="container">
  <p>
    TVSeries4U es un servicio web que te permite ver todas las peliculas que quieras
    mientras compartes con tus amigos y familia!
  </p>
</div>
