<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Para atenderte con nuestros operadores llama al <a href="tel:+56996335722">+56 9 9633 5722</a> o puedes
   <a href="mailto:castropenna@hotmail.com?Subject=Contacto%20TvSeries4U" target="_top">Enviar un Mail</a>.
</p>