/* Variables */

$header_color: #333333;
$header_text_color: #9d9d9d;

/* Main */

.jumbotron {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  position: static;
  overflow: scroll;
}

/* Footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

small {
  color: $header_text_color;
  margin-left: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  background-color: $header_color;
  nav {
    li  a {
      padding-right: 20px;
      color: $header_text_color;
    }
    li a:hover {
      background-color: $header_color;
      text-decoration: none;
      color: #fff;
    }
  }
}
