.news-index {
  width: 30%;
  display: inline-block;
  margin: 10px;
  box-shadow: 5px 5px 5px #888888;

  ul {
    margin: 0;

    #title {
      text-align: center;
      background-color: #ddd;
      height: 200px;
      overflow: auto;

      h3 {
        vertical-align: text-bottom;
      }
    }
  }
}
