// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* mixins, variables, etc. */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
