// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.datagrid table {
  width: auto;
  text-align: left;
}

.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.datagrid table td, .datagrid table th {
  padding: 13px 6px;
}

.datagrid table thead th {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
  background: -moz-linear-gradient(center top, #006699 5%, #00557F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color: #006699;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-left: 0px solid #0070A8;
}

.datagrid table thead th:first-child {
  border: none;
}

.datagrid table tbody td {
  color: #00496B;
  font-size: 13px;
  font-weight: normal;
}

.datagrid table tbody .alt td {
  background: #E1EEF4;
  color: #00496B;
}

.datagrid table tbody td:first-child {
  border-left: none;
}

.datagrid table tbody tr:last-child td {
  border-bottom: none;
}

.div_list {
  width: 200px;
  margin: 30px;
}

.h2_list {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.ul_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li_list {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.li_list:last-child {
  border: none;
}

.li_list a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

.li_list a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.form-inline {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline;
}

.table-user-information {
  tr {
    img {
      margin: 30px;
    }
  }
}

#profile-img {
  text-align: center;
  border-top: none;

  img {
    border-radius: 50%;
    background-color: #fff;
  }
}

.child-display {
  margin-top: 30px;
}
