// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inline {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline;
}

.table-user-information {
  tr {
    img {
      margin: 30px;
    }
  }
}

#profile-img {
  text-align: center;
  border-top: none;

  img {
    border-radius: 50%;
    background-color: #fff;
  }
}

.child-display {
  margin-top: 30px;
}
