<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p> Te contactamos para notificarte que tu email esta siendo cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p> Te contactamos para notificarte que tu email fue cambiado a <%= @resource.email %>.</p>
<% end %>
