<p>Hola <%= @resource.email %>!</p>

<p>Alguien a pedido un cambio de contraseña, puedes realizarlo en el siguiente link.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has pedido esto porfavor ignora este email.</p>
<p>Tu contraseña no cambiara hasta que ingreses al link de arriba y la cambies.</p>
