<p>Hola <%= @resource.email %>!</p>

<p>Tu usuario fue bloquiado debido a un excesivo numero de ingresos erroneos.</p>

<p>Ingresa al siguiente link para desbloquiarlo:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
