<a href= "<%= "series/#{series.id}" %>">
    <div class="series-display">
        <div class="img-preview img-rounded">
          <%= image_tag series.image.url(:medium) %>
          <div class="content">
              <%= "#{series.name}"[0..18] %>
          </div>
        </div>
    </div>
  </a>
