
    <div class="noticium">
          <div class="square bg img1">
            <div class="content">
              <div class="table">
                <div class="table-cell">
                  "<%= series.name %>" <br>
                  by <%= series.description %> <br>
                  at <%= series.created_at %>
                </div>
              </div>
            </div>
          </div>
    </div>
