<a href= "<%= "series/#{series.id}" %>">
    <div class="noticium">
          <div class="square bg img1">
            <div class="content">
                  <%= "#{series.name}"[0..18] %> <br>
                  Descripción: <%= "#{series.description}"[0..14] %>... <br>
                   Rating:<%= "#{series.rating}" %>
                </div>
          </div>
    </div>
  </a>
