<% provide(:title, 'Series') %>
<% provide(:header,'Series') %>
<div class="row">
  <div class="col-md-8">
    <%@series.each do |serie|%>
        <%= render 'series/preview', series: serie %>
    <% end %>
  </div>
    <div id="bottom">
      <p>Grega<br/>
        <a > Escribir noticia </a></p>
      <a >Home</a>
    </div>
  </div>
</div>


<%= link_to 'New Series', new_series_path %>
