<footer class="footer">
  <small>
    TvSeries4U by Matias Andrade, Juan Enrique Castro & Arturo Del Real
    <!--agregar links de LinkedIn <a href="http://www.michaelhartl.com/">Michael Hartl</a>-->
  </small>
  <nav>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
